body {
  font-family: Arial, sans-serif;
  text-align: center;
}

table {
  margin: auto;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
}

button {
  padding: 8px 20px;
  margin-top: 15px;
  cursor: pointer;
}